#nav-body {
  margin: 0px;
  width: 100%;
  background-color: rgba(27, 27, 27, 0.8);
  height: 50px;
  position: relative;
  z-index: 9999;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

#nav-left {
  margin-left: 100px;
}

.nav-right {
  margin-right: 100px;
  display: flex;
  justify-content: right;
  align-items: center;
  /* border: red 1px solid; */
}

.nav-right > * {
  margin: 0px 20px;
}

.profile-dropdown {
  position:static;
  margin-right: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

li {
  list-style: none;
  margin: 7px;
  color: white;
}

a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}
